In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [2]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

The 'facts' table we see above is the CIA world factbook. It contains a collection of demographic statistics about all the countries in the world. Let's check out the first five rows.

In [3]:
%%sql
SELECT *
  FROM facts
 LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

The column headings seem to be straightforward and self explanatory. Let's begin by searching the table for outliers.

In [5]:
%%sql
SELECT MIN(population), MAX(population), 
       MIN (population_growth), MAX(population_growth)
  FROM facts;

Done.

[(0, 7256490011, 0.0, 4.02)]

Below are queries to find out what nations have these values.

In [8]:
%%sql
  SELECT name, population
    FROM facts
ORDER BY population
   LIMIT 10

Done.

[('Ashmore and Cartier Islands', None),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('British Indian Ocean Territory', None),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None)]

%%sql
  SELECT name, population
    FROM facts
ORDER BY population DESC
   LIMIT 10

We see there are several countries with no population and there are rows included for the whole world and the european union in the dataset. Now I will recalculate the summary statistics excluding that row.

In [16]:
%%sql
SELECT MIN(population), MAX(population), 
       MIN (population_growth), MAX(population_growth)
  FROM facts
 WHERE name NOT IN ('World', 'European Union');

Done.

[(0, 1367485388, 0.0, 4.02)]

Now moving on to average population and areas for the table

In [17]:
%%sql
SELECT AVG(population), AVG(area)
  FROM facts
 WHERE name NOT IN ('World', 'European Union');

Done.

[(30235554.991666667, 539893.1895161291)]

Below we will find all countries whose population is above average

In [18]:
%%sql
  SELECT name, population
    FROM facts
   WHERE population > (SELECT AVG(population)
                       FROM facts
                      WHERE name NOT IN ('World', 'European Union'))
         AND name NOT IN ('World', 'European Union')
ORDER BY population DESC

Done.

[('China', 1367485388),
 ('India', 1251695584),
 ('United States', 321368864),
 ('Indonesia', 255993674),
 ('Brazil', 204259812),
 ('Pakistan', 199085847),
 ('Nigeria', 181562056),
 ('Bangladesh', 168957745),
 ('Russia', 142423773),
 ('Japan', 126919659),
 ('Mexico', 121736809),
 ('Philippines', 100998376),
 ('Ethiopia', 99465819),
 ('Vietnam', 94348835),
 ('Egypt', 88487396),
 ('Iran', 81824270),
 ('Germany', 80854408),
 ('Turkey', 79414269),
 ('Congo, Democratic Republic of the', 79375136),
 ('Thailand', 67976405),
 ('France', 66553766),
 ('United Kingdom', 64088222),
 ('Italy', 61855120),
 ('Burma', 56320206),
 ('South Africa', 53675563),
 ('Tanzania', 51045882),
 ('Korea, South', 49115196),
 ('Spain', 48146134),
 ('Colombia', 46736728),
 ('Kenya', 45925301),
 ('Ukraine', 44429471),
 ('Argentina', 43431886),
 ('Algeria', 39542166),
 ('Poland', 38562189),
 ('Uganda', 37101745),
 ('Iraq', 37056169),
 ('Sudan', 36108853),
 ('Canada', 35099836),
 ('Morocco', 33322699),
 ('Afghanistan', 32564342),
 ('Nepal', 31551305),
 ('Malaysia', 30513848),
 ('Peru', 30444999)]

Below are all countries whose area is below average

In [19]:
%%sql
  SELECT name, area
    FROM facts
   WHERE area <(SELECT AVG(area)
                       FROM facts
                      WHERE name NOT IN ('World', 'European Union'))
         AND name NOT IN ('World', 'European Union')
ORDER BY area

Done.

[('Holy See (Vatican City)', 0),
 ('Monaco', 2),
 ('Coral Sea Islands', 3),
 ('Ashmore and Cartier Islands', 5),
 ('Navassa Island', 5),
 ('Spratly Islands', 5),
 ('Clipperton Island', 6),
 ('Gibraltar', 6),
 ('Wake Island', 6),
 ('Paracel Islands', 7),
 ('Tokelau', 12),
 ('Cocos (Keeling) Islands', 14),
 ('Nauru', 21),
 ('Tuvalu', 26),
 ('Macau', 28),
 ('Sint Maarten', 34),
 ('Norfolk Island', 36),
 ('Pitcairn Islands', 47),
 ('Bouvet Island', 49),
 ('Saint Martin', 54),
 ('Bermuda', 54),
 ('San Marino', 61),
 ('Guernsey', 78),
 ('Anguilla', 91),
 ('Montserrat', 102),
 ('Jersey', 116),
 ('Akrotiri', 123),
 ('Dhekelia', 130),
 ('Christmas Island', 135),
 ('Wallis and Futuna', 142),
 ('British Virgin Islands', 151),
 ('Liechtenstein', 160),
 ('Aruba', 180),
 ('Marshall Islands', 181),
 ('American Samoa', 199),
 ('Cook Islands', 236),
 ('Saint Pierre and Miquelon', 242),
 ('Niue', 260),
 ('Saint Kitts and Nevis', 261),
 ('Cayman Islands', 264),
 ('Maldives', 298),
 ('Saint Helena, Ascension, and Tristan da Cunha', 308),
 ('Malta', 316),
 ('Grenada', 344),
 ('Gaza Strip', 360),
 ('Jan Mayen', 377),
 ('Saint Vincent and the Grenadines', 389),
 ('Heard Island and McDonald Islands', 412),
 ('Barbados', 430),
 ('Antigua and Barbuda', 442),
 ('Curacao', 444),
 ('Seychelles', 455),
 ('Palau', 459),
 ('Northern Mariana Islands', 464),
 ('Andorra', 468),
 ('Guam', 544),
 ('Isle of Man', 572),
 ('Saint Lucia', 616),
 ('Singapore', 697),
 ('Micronesia, Federated States of', 702),
 ('Tonga', 747),
 ('Dominica', 751),
 ('Bahrain', 760),
 ('Kiribati', 811),
 ('Turks and Caicos Islands', 948),
 ('Sao Tome and Principe', 964),
 ('Hong Kong', 1108),
 ('Faroe Islands', 1393),
 ('Virgin Islands', 1910),
 ('Mauritius', 2040),
 ('Comoros', 2235),
 ('Luxembourg', 2586),
 ('Samoa', 2831),
 ('South Georgia and South Sandwich Islands', 3903),
 ('Cabo Verde', 4033),
 ('French Polynesia', 4167),
 ('Trinidad and Tobago', 5128),
 ('Brunei', 5765),
 ('West Bank', 5860),
 ('Cyprus', 9251),
 ('Lebanon', 10400),
 ('Kosovo', 10887),
 ('Jamaica', 10991),
 ('Gambia, The', 11300),
 ('Qatar', 11586),
 ('Falkland Islands (Islas Malvinas)', 12173),
 ('Vanuatu', 12189),
 ('Puerto Rico', 13791),
 ('Montenegro', 13812),
 ('Bahamas, The', 13880),
 ('Timor-Leste', 14874),
 ('Swaziland', 17364),
 ('Kuwait', 17818),
 ('Fiji', 18274),
 ('New Caledonia', 18575),
 ('Slovenia', 20273),
 ('Israel', 20770),
 ('El Salvador', 21041),
 ('Belize', 22966),
 ('Djibouti', 23200),
 ('Macedonia', 25713),
 ('Rwanda', 26338),
 ('Haiti', 27750),
 ('Burundi', 27830),
 ('Equatorial Guinea', 28051),
 ('Albania', 28748),
 ('Solomon Islands', 28896),
 ('Armenia', 29743),
 ('Lesotho', 30355),
 ('Belgium', 30528),
 ('Moldova', 33851),
 ('Taiwan', 35980),
 ('Guinea-Bissau', 36125),
 ('Bhutan', 38394),
 ('Switzerland', 41277),
 ('Netherlands', 41543),
 ('Denmark', 43094),
 ('Estonia', 45228),
 ('Dominican Republic', 48670),
 ('Slovakia', 49035),
 ('Costa Rica', 51100),
 ('Bosnia and Herzegovina', 51197),
 ('British Indian Ocean Territory', 54400),
 ('Croatia', 56594),
 ('Togo', 56785),
 ('Svalbard', 62045),
 ('Latvia', 64589),
 ('Lithuania', 65300),
 ('Sri Lanka', 65610),
 ('Georgia', 69700),
 ('Ireland', 70273),
 ('Sierra Leone', 71740),
 ('Panama', 75420),
 ('Serbia', 77474),
 ('Czech Republic', 78867),
 ('United Arab Emirates', 83600),
 ('Austria', 83871),
 ('Azerbaijan', 86600),
 ('Jordan', 89342),
 ('Portugal', 92090),
 ('Hungary', 93028),
 ('Korea, South', 99720),
 ('Iceland', 103000),
 ('Guatemala', 108889),
 ('Cuba', 110860),
 ('Bulgaria', 110879),
 ('Liberia', 111369),
 ('Honduras', 112090),
 ('Benin', 112622),
 ('Eritrea', 117600),
 ('Malawi', 118484),
 ('Korea, North', 120538),
 ('Nicaragua', 130370),
 ('Greece', 131957),
 ('Tajikistan', 144100),
 ('Nepal', 147181),
 ('Bangladesh', 148460),
 ('Tunisia', 163610),
 ('Suriname', 163820),
 ('Uruguay', 176215),
 ('Cambodia', 181035),
 ('Syria', 185180),
 ('Senegal', 196722),
 ('Kyrgyzstan', 199951),
 ('Belarus', 207600),
 ('Guyana', 214969),
 ('Laos', 236800),
 ('Romania', 238391),
 ('Ghana', 238533),
 ('Uganda', 241038),
 ('United Kingdom', 243610),
 ('Guinea', 245857),
 ('Western Sahara', 266000),
 ('Gabon', 267667),
 ('New Zealand', 267710),
 ('Burkina Faso', 274200),
 ('Ecuador', 283561),
 ('Philippines', 300000),
 ('Italy', 301340),
 ('Oman', 309500),
 ('Poland', 312685),
 ("Cote d'Ivoire", 322463),
 ('Norway', 323802),
 ('Malaysia', 329847),
 ('Vietnam', 331210),
 ('Finland', 338145),
 ('Congo, Republic of the', 342000),
 ('Germany', 357022),
 ('Japan', 377915),
 ('Zimbabwe', 390757),
 ('Paraguay', 406752),
 ('Iraq', 438317),
 ('Morocco', 446550),
 ('Uzbekistan', 447400),
 ('Sweden', 450295),
 ('Papua New Guinea', 462840),
 ('Cameroon', 475440),
 ('Turkmenistan', 488100),
 ('Spain', 505370),
 ('Thailand', 513120),
 ('Yemen', 527968)]

Which countries are most densely populated?

In [20]:
%%sql
SELECT name, population, area, population/area AS density
FROM facts
WHERE name NOT IN ('European Union', 'World');
ORDER BY density DESC

(sqlite3.OperationalError) near "WHERE": syntax error
[SQL: SELECT name, population, area, population/area AS density
FROM facts
ORDER BY density DESC
WHERE name NOT IN ('European Union', 'World');]
(Background on this error at: http://sqlalche.me/e/13/e3q8)